<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRM_For_ISP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.bhumika.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomer</display-name>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>com.bhumika.services.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServiceMan</display-name>
    <servlet-name>AddServiceMan</servlet-name>
    <servlet-class>com.bhumika.services.AddServiceMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServiceMan</servlet-name>
    <url-pattern>/AddServiceMan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.bhumika.services.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaint</display-name>
    <servlet-name>AddComplaint</servlet-name>
    <servlet-class>com.bhumika.services.AddComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaint</servlet-name>
    <url-pattern>/AddComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceManLogin</display-name>
    <servlet-name>ServiceManLogin</servlet-name>
    <servlet-class>com.bhumika.services.ServiceManLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceManLogin</servlet-name>
    <url-pattern>/ServiceManLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignToServiceMan</display-name>
    <servlet-name>AssignToServiceMan</servlet-name>
    <servlet-class>com.bhumika.services.AssignToServiceMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignToServiceMan</servlet-name>
    <url-pattern>/AssignToServiceMan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceCode</display-name>
    <servlet-name>ServiceCode</servlet-name>
    <servlet-class>com.bhumika.db.ServiceCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceCode</servlet-name>
    <url-pattern>/ServiceCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratedServiceCode</display-name>
    <servlet-name>GeneratedServiceCode</servlet-name>
    <servlet-class>com.bhumika.services.GeneratedServiceCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratedServiceCode</servlet-name>
    <url-pattern>/GeneratedServiceCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCustomerPasswword</display-name>
    <servlet-name>ChangeCustomerPasswword</servlet-name>
    <servlet-class>com.bhumika.services.ChangeCustomerPasswword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCustomerPasswword</servlet-name>
    <url-pattern>/ChangeCustomerPasswword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServiceMenPassword</display-name>
    <servlet-name>ChangeServiceMenPassword</servlet-name>
    <servlet-class>com.bhumika.services.ChangeServiceMenPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServiceMenPassword</servlet-name>
    <url-pattern>/ChangeServiceMenPassword</url-pattern>
  </servlet-mapping>
</web-app>